.debug {
    border: 1px dashed black;
}
body {
    font-family: sans-serif;
}

#container {
    text-align: center; /* for center aligning its inline-block children */
}

#game {
    display: inline-block; /* make them not bigger than their content */
}

#game div {
    float: left;
    display: inline-block; /* make them not bigger than their content */
}

#game .controls {
    clear: both;
}

.viewercontainer > div {
    display: inline-block;
    margin: 5px;
}

.status {
    width: 180px;
    margin: 10px;
}

.score {
    color: #29e;
    border-radius: 5px;
    border: 1px solid #29e; /* match with color */
    width: 100%;
}

.score span {
    padding: 4px 7px;
}

.score .score-title {
    float: left;
}

.score .score-number {
    float: right;
}

.control-button {
    color: #888;
    font-size: 100%; /* by default, buttons are smaller */
    border-radius: 5px;
    border: 1px solid #ccc; /* match this color with font color */
    background: transparent linear-gradient(hsla(0,0%,100%,.4), transparent);
}

.control-button:hover {
    cursor: pointer;
    background-color: #eee;
}

.control-button:active {
    background-color: #ddd;
}

.control-button:disabled {
    color: #ccc;
    border-color: #ccc;
    background-color: transparent; /* match with .control-button background-color */
    cursor: auto;
}

.control-button-green {
    color: #0a9;
    border-color: #0a9;
}
.control-button-red {
    color: #e88;
    border-color: #e88;
}

.game {
    display: inline-block;
}

.game .grid {
    float: left;
}

.game .status {
    height: 100%;
    background-color: #eee;
}

.grid-table {
    /*border-collapse: collapse;*/
    border-spacing: 1px;
}

.grid-table tr {
    padding: 0;
}

.grid-table td {
    width: 16px;
    height: 16px;
    background: #ddd linear-gradient(hsla(0,0%,100%,.4), transparent);
    border-radius: 4px;
    padding: 0;
    outline: 1px dashed #fff;
    outline-offset: -.2em;
}

.small td {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    outline-offset: -.1em;
}

.grid-table td.red {
    background-color: #711;
}
.grid-table td.green {
    background-color: #253;
}
.grid-table td.blue {
    background-color: #225;
}
.grid-table td.orange {
    background-color: #853;
}
.grid-table td.yellow {
    background-color: #770;
}
.grid-table td.purple {
    background-color: #505;
}
.grid-table td.grey {
    background-color: #666;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
